<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>14\FirstRun\SetupComplete</key>
  <integer>1</integer>
  <key>14\UserInfo\UserInitials</key>
  <string>IT</string>
  <key>14\UserInfo\UserName</key>
  <string>Information Services</string>
</dict>
</plist>
